body {
    background: linear-gradient(rgb(32, 31, 31), rgb(41, 64, 73));
}

h1 {
    color: #000;
    text-align: center;
    text-decoration: underline 2px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5rem ;
    
}

/* Estilos para el encabezado */
header {
    color: #7C9D96;
    padding: 1rem;
    text-align: center;
    background-color: #D9DFDB;
    border: 1px solid #353941 ;
    border-radius: 10px;
    margin: 3rem auto;
    font-size: 100%;
    max-width: 500px;
}

header h1 {
    margin: 0;
}

header li {
    display: inline-block;
    margin-right: 1rem;
}

header a {
    color: #353941;
    text-decoration: none;
    padding: 0.5rem 1.9rem;
    border-radius: 5px;
    border: 1px solid #353941; 
}

/* Estilos para la sección "Acerca de mí" */
#about {
    background-color: #D9DFDB;
    padding: 1rem;
    border: 1px solid #353941;
    text-align: center;
    margin: 3rem auto;
    border-radius: 10px;
    color: black;
    font-size: 100%;
    max-width: 500px;
}

p {
    font-size: 18px;
    color: #000;
}

.Foto_de_perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #353941;
    max-width: 100%;
}

/* Estilos para la sección "Proyectos" */
#projects {
    background-color: #D9DFDB;
    padding: 1rem;
    border: 1px solid #353941;
    border-radius: 10px;
    color: #353941;
}

#projects h3 {
    margin: 0.5rem;
}

.Proyecto_1 {
    width: 800px;
    height: 400px;
    border: 1px solid #353941;
}

img.Proyecto_1 {
    justify-content: center;
    margin-left: 10rem;
}

.Proyecto_2 {
    width: 800px;
    height: 400px;
    border: 1px solid #353941;
    max-width: 100%;
}   

img.Proyecto_2 {
    justify-content: center;
    margin-left: 10rem;
}

/* Estilos para la sección "Contacto" */
#contact {
    background-color: #D9DFDB;
    padding: 2rem;
    margin: 3rem auto;
    border: 1px solid #353941;
    color: #353941;
}

#contact label {
    display: block;
    margin-bottom: 0.5rem;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

textarea {
    height: 100px;
    width: 100%;
    resize: none;
}


#contact button {
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#contact button:hover {
    background-color: #555;
}
